
<div class="container-fluid article-container">
    {{#if articles}}
        {{#each articles}}
            <div class="card border-info mb-3" >
                <div class="card-header"></div>
                <div class="card-body text-info">
                    <h2 class="card-title"><a href="https://www.wired.com/{{this.link}}">{{this.title}}</a></h2>
                    
                        <h6 class="card-text">{{this.author}}</h6>
                        <button class="btn btn-info float-right save" post-id="{{this.id}}" >Save Ariticle</button>
                    
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="alert bg-warning text-center">
            <h4>Uh Oh. Looks like we don't have any new articles.</h4>
        </div>
    {{/if}}
    
    
</div>