<div class="container-fluid article-container">
    
    {{#each articles}}
        {{#if this.saved}}
            <div class="card border-info mb-3" >
                <div class="card-header"></div>
                <div class="card-body text-info">
                    <h2 class="card-title"><a href="https://www.wired.com/{{this.link}}">{{this.title}}</a></h2>                    
                        <h6 class="card-text">{{this.author}}</h6>
                        <br>
                        {{#if this.note}}
                            {{#each this.note}}                                
                                <p class="card-text">{{this}}<button type="button" class="close note-delete" aria-label="Close" note-id="{{this}}"><span aria-hidden="true">&times;</span></button></p> 
                            {{/each}}
                        {{else}}
                            <p>No Notes Yet.</p>
                        {{/if}}
                        <br>
                        <button class="btn btn-info float-right delete" post-id="{{this.id}}" >Delete Ariticle</button>
                        <button class="btn btn-info float-right " data-toggle="modal" data-target="#note-modal{{this.id}}"  >Make a Note</button>                    
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="note-modal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="noteModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noteModalTitle">Add a Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="message-text{{this.id}}" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text{{this.id}}"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary note" post-id="{{this.id}}">Save note</button>
                </div>
                </div>
            </div>
            </div>
        {{/if}}
    {{/each}}
    

       
    
</div>